.top-nav {
  z-index: 2;
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  width: 100%;
}

.top-nav--link--primary,
.top-nav--link--secondary {
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: #272727;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 0 20px;
}

.top-nav--link--primary {
  float: left;
  font-size: 1.4em;
}

.top-nav--link--secondary {
  float: right;
  font-size: 1.1em;
}

@media screen and (max-width: 41.5em) {
  .top-nav--link--primary,
  .top-nav--link--secondary {
    padding: 0 10px;
  }

  .top-nav--link--primary {
    font-size: 0.9em;
  }

  .top-nav--link--secondary {
    font-size: 0.7em;
    letter-spacing: 2px;
  }
}
.footer {
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.45);
  z-index: 2;
}

@media screen and (max-width: 41.5em) {
  .footer {
    position: relative;
    font-size: 0.8em;
  }
}
.grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid--element {
  width: 33.33333%;
  min-height: 300px;
  min-height: 42vh;
  overflow: hidden;
  margin: 0;
  position: relative;
  background-color: #3085a3;
}
@media screen and (max-width: 60em) {
  .grid--element {
    width: 50%;
  }
}
@media screen and (max-width: 40em) {
  .grid--element {
    width: 100%;
  }
}
.grid--element.is-hidden {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.grid--element.is-open {
  position: absolute;
}
.grid--element.animate {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 0.32, 1);
}
.grid--element.grid--element__gallery {
  width: calc(12.5% - 20px);
  height: 20vh;
  min-height: 150px;
  margin: 10px;
  background-color: white;
}
@media screen and (max-width: 60em) {
  .grid--element.grid--element__gallery {
    width: calc(25% - 20px);
  }
}
@media screen and (max-width: 40em) {
  .grid--element.grid--element__gallery {
    width: calc(50% - 20px);
  }
}

.grid--intro {
  -webkit-flex-grow: 2;
  flex-grow: 2;
  padding: 30px;
  height: auto;
  background-color: rgba(48, 133, 163, 0.1);
}
.grid--intro h1, .grid--intro p {
  margin: 0;
  margin-bottom: 10px;
}
.grid--intro p {
  font-size: 1.3em;
  line-height: 1.3em;
}
@media screen and (max-width: 60em) {
  .grid--intro p {
    font-size: 1.1em;
  }
}

.grid--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  transition: opacity 0.5s ease-in-out;
}
.grid--image img {
  min-width: 100%;
}
.grid--element:hover .grid--image, .grid--element.is-active .grid--image {
  opacity: .4;
}

.grid--thumbnail {
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}
.grid--element:hover .grid--thumbnail {
  opacity: .4;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.grid--caption {
  text-align: right;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.grid--caption,
.grid--caption a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid--title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  word-spacing: -0.15em;
  margin: 0;
  font-weight: 300;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
@media screen and (max-width: 60em) {
  .grid--title {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 40em) {
  .grid--title {
    font-size: 1.5em;
  }
}
.grid--element:hover .grid--title, .grid--element.is-active .grid--title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.grid--title strong {
  font-weight: 800;
}
.grid--title::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 10px;
  background: #fff;
  content: '';
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.grid--element:hover .grid--title::after, .grid--element.is-active .grid--title::after {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.grid--subtitle {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 0 10px;
  -webkit-transform: translateY(2vh);
  transform: translateY(2vh);
  opacity: 0;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
@media screen and (max-width: 60em) {
  .grid--subtitle {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 40em) {
  .grid--subtitle {
    font-size: 0.65em;
  }
}
html.touch .grid--subtitle {
  opacity: 1;
}
.grid--element:hover .grid--subtitle, .grid--element.is-active .grid--subtitle {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

body {
  background: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #272727;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.issuuembed {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
}

main {
  margin-top: 60px;
  padding-bottom: 60px;
}

.publication--element {
  padding: 30px;
  font-size: 0.9em;
  background: white;
  color: #272727;
  width: 33.3333%;
}
.publication--element h1, .publication--element h2 {
  margin: 0 0 15px;
}
@media screen and (max-width: 80em) {
  .publication--element {
    width: 100%;
  }
}

.courses--element {
  padding: 30px;
  font-size: 1.1em;
  background: white;
  color: #272727;
}
.courses--element ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}
.courses--element li {
  margin-bottom: 10px;
}
.courses--element h3 {
  margin: 0 0 15px;
}
@media screen and (max-width: 60em) {
  .courses--element {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 50em) {
  .courses--element {
    font-size: 1em;
  }
}
@media screen and (max-width: 40em) {
  .courses--element {
    font-size: 1.1em;
  }
}
