@import '_top-nav.scss';
@import '_footer.scss';
@import '_grid.scss';

body {
    background: white;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #272727;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.issuuembed {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
}

main {
    margin-top: 60px;
    padding-bottom: 60px;
}

.publication--element {
    padding: 30px;
    font-size: 0.9em;
    background: white;
    color: #272727;
    h1, h2 {
        margin: 0 0 15px;
    }
    width: 33.3333%;
    @media screen and (max-width: 80em) {
        width: 100%;
    }
}

.courses--element {
    padding: 30px;
    font-size: 1.1em;
    background: white;
    color: #272727;
    ul {
        margin: 0;
        padding: 10px;
        list-style: none;
    }
    li {
        margin-bottom: 10px;
    }
    h3 {
        margin: 0 0 15px;
    }
    @media screen and (max-width: 60em) {
        font-size: 1.1em;
    }
    @media screen and (max-width: 50em) {
        font-size: 1em;
    }
    @media screen and (max-width: 40em) {
        font-size: 1.1em;
    }
}
