body {
    background: white;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-weight: 300;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav-container {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
}

main {
    margin-top: 69px;
}

.clearfix {
    clear: both;
}

a {
    text-decoration: underline;
    color: black;
}

footer {
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    z-index: 2;
}

nav {
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;

    a {
        display: table-cell;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 0.5em;
        font-weight: 300;
        font-size: 1.1em;
        letter-spacing: 3px;
        transition: none;
        &.primary {
            font-weight: bold;
            text-align: left;
            padding-left: 1em;
        }
    }

    a:hover {
        background: black;
        color: white;
        transition: background 0.6s, color 0.6s;
    }

    a.primary:hover {
        background: none;
        color: black;
        transition: background 0.6s;
    }
}


.grid {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: -0.135em;
    width: 25%;
    height: 40vh;
    max-height: 640px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 200px;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
    }
}

figure.opened {
    i {
        opacity: 0.6;
        transition: all 1s ease-in-out;
        transition-delay: 1s;
    }
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;

    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    font-weight: 600;
}

figure figcaption {
    text-align: right;
}

figure h2,
figure p {
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
}


figure p {
    bottom: 30px;
    line-height: 1.5;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure h2 {
    top: 30px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure:hover h2, figure.opened h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure:hover img, figure.opened img {
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
}

figure h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure h2::after,
figure p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure:hover h2::after,
figure.opened h2::after,
figure:hover p,
figure.opened p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.about {
    font-size: 1.4em;
    width: 50%;
    float: left;
    text-align: justify;
    padding-left: 25%;
    p {
        margin-top: 0;
    }
    a {
        font-weight: 300;
        text-decoration: none;
        color: #3085a3;
    }
    a.main-link {
        padding: 5px;
        display: block;
    }
    a:hover {
        text-decoration: underline;
    }
}

.course-list {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 33%;
}

.courses {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.courses.revealed {
    height: auto;
    opacity: 1;
    transition: all 1s;
}

.page {
    display: none;
    margin-left: 27%;
    figure {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

#gallery {
    font-size: 0;
}

@media screen and (max-width: 69.5em) {
    .grid figure {
        width: 50%;
    }
    
    .about-text {
        width: 100%;
    }

    .grid figure figcaption {
        font-size: 90%;
    }

    .about-photo {
		width: 100%;
		padding: 2em 0;
	}

    .course-list {
        width: 50%;
    }
}


@media screen and (max-width: 41.5em) {
    .about-text {
        width: 100%;
    }

    .course-list {
        width: 100%;
    }

    .grid figure {
        width: 100%;
    }
    nav a {
        display: block;
    }
}



